/* Seuls les styles spécifiques non couverts par Tailwind */

/* Styles pour la zone d'édition principale avec le quadrillage */
.editor-area-grid {
  background-image:
    linear-gradient(rgba(200, 200, 200, 0.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(200, 200, 200, 0.3) 1px, transparent 1px);
  background-size: 20px 20px;
}

/* Styles pour l'animation de chargement */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Autres styles spécifiques que Tailwind ne peut pas facilement remplacer */